body {
  font-family: Arial, sans-serif;
}

.smart-banner {
  display: none;
  /* Initially hidden */
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  flex-direction: row;
}

@media (max-width: 768px) {
  .smart-banner {
    display: flex;
  }
}

.banner-logo img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.banner-info {
  flex: 1;
}

.app-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.app-rating {
  font-size: 14px;
  color: #666;
}

.banner-action {
  margin-right: 10px;
}

.action-btn {
  background-color: transparent;
  color: #45a049;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  margin: 0;
  cursor: pointer;
}

.action-btn:hover {
  background-color: #dcf6dd;
}

.close-banner {
  cursor: pointer;
  font-size: 18px;
}
